<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title><%- wsTitle %></title>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
<div id="blockpage">
 <header>
    <%- wsHeaderContents%>
 </header>
 <nav id="menu">
      <ul>
      <% subpages.forEach(function(page, index){ %>
          <li><a href=<%= page[1]%> ><%=page[0]%></a></li>
      <% });%>
      </ul>
</nav>
<section id="mainaera">
    <article id="contents">
        <%- wsContents %>
    </article>
    <aside>
        <%- wsAsideContents %>
    </aside>
</section>
<footer>
    <%- wsFooterContents %>
</footer>
</div>
</body>
</html>
