<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title><%- wsTitle %></title>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
<div id="wrapper">
<header>
    <a href="/" id="homeButton"></a>
    <%- wsHeaderContents %>
 </header>
 <div id="middle">
 <nav id="menu">
     <div id="languagesBox">
         <% languages.forEach(function(lang, index){ %>
         <form action=<%= "/setlocale/"+lang %>><input type="submit" class="languageButton" id=<%= lang+"LangButton" %> value=<%= lang %>></form>
        <% });%>
        <!-- <form action="/setlocale/fr"><input type="submit" class="languageButton" id="frLButton" value="FR"></form> -->
     </div>
      <ul>
      <% subpages.forEach(function(page, index){ %>
          <li><a href=<%= page[1]%> ><%= __(page[0])%></a></li>
      <% });%>
      </ul>
</nav>
<section id="mainaera">
    <article id="contents">
        <%- wsContents %>
    </article>
    <aside>
        <%- wsAsideContents %>
    </aside>
</section>
</div>
<footer>
    <%- wsFooterContents %>
</footer>
</div>
</body>
</html>
